body {
  margin: 0;
  padding: 0; }

.layout .top-wrapper {
  background-color: #4141a3; }

.layout .top {
  margin: 0 auto;
  max-width: 760px;
  color: white; }
  .layout .top .menu {
    margin: .25em auto 2em;
    padding: 1em; }
  .layout .top .banner {
    max-width: 760px; }
    .layout .top .banner .right img {
      width: 140px; }
      @media all and (min-width: 760px) {
        .layout .top .banner .right img {
          width: 240px; } }
    @media all and (min-width: 740px) {
      .layout .top .banner {
        font-size: 2em; } }

.layout .bottom-wrapper {
  background-color: #f6e6e6; }
  .layout .bottom-wrapper .bottom {
    margin: 0 auto;
    max-width: 760px;
    padding: 1em;
    line-height: 1.6em; }

.secondary-color {
  color: #c8a8ae; }

.primary-color {
  color: #4141a3; }

.white {
  color: white; }

.big {
  font-size: 1.5em; }
